<!DOCTYPE html>
<html lang="en">
<head>
    <title>History: Employment Game Prototype</title>
    <meta charset="utf-8">
    
    <script src="static/js/d3.v3.js", type="text/javascript"></script>
    <script src="static/js/nv.d3.js", type="text/javascript"></script>
    <script src="static/js/nvd3/tooltip.js"></script>
    <script src="static/js/nvd3/utils.js"></script>
    <script src="static/js/nvd3/interactiveLayer.js"></script>
    <script src="static/js/nvd3/models/legend.js"></script>
    <script src="static/js/nvd3/models/axis.js"></script>
    <script src="static/js/nvd3/models/scatter.js"></script>
    <script src="static/js/nvd3/models/line.js"></script>
    <script src="static/js/nvd3/models/lineChart.js"></script>
    <link href="static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="static/css/teststyle.css" rel="stylesheet" type="text/css">
    
</head>

<body>

    <form action="history">
        
    User: <select name="uuid" onchange="this.form.submit()">
          <option value="">-- Select a user --</option>
          %(users)s</select>
    
    </form>
    
    %(items)s
</body>
</html>
